{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/customers">Customer List</a></li>
    <li class="active">{{customer.name}} (Locations)</li>
</ol>
<h1 class="sub-header">{{customer.name}}</h1>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="/customer/details/{{customer.id}}">Details</a></li>
    <li role="presentation" class="active"><a href="/customer/locations/{{customer.id}}">Sites</a></li>
    <li role="presentation"><a href="/customer/contacts/{{customer.id}}">Contacts</a></li>
    <li role="presentation"><a href="/customer/projects/{{customer.id}}">Projects</a></li>
    <li role="presentation"><a href="/customer/orders/{{customer.id}}">Work Orders</a></li>
    <li role="presentation"><a href="/customer/documents/{{customer.id}}">Documents</a></li>
</ul>
<a href="/customer/location/{{customer.id}}/add" class="btn btn-default btn-sm pull-right" role="button">Add Location</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Site ID</th>
            <th>Site Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
        <tr>
            <td><a href="/customer/location/{{location.id}}/details">{{location.id}}</a></td>
            <td>{{location.name}}</td>
            <td>{{location.address1}} {{location.address2}}</td>
            <td>{{location.city}}</td>
            <td>{{location.state.abbreviation}}</td>
            <td>{{location.postalCode}}</td>
            <td>{{location.phoneNumber}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {#<div class="center-block">
        <ul class="pagination text-center">
            <li class="disabled"><span>&laquo;</span></li>
            <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>#}
</div>
{% endblock %}