{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
<a href="/configuration/product/add" class="btn btn-default">Add Product</a>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>Part Number</th>
        <th>Alt Part Number</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.partNumber }}</td>
        <td>{{ product.altPartNumber }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.manufacturer.name }}</td>
        <td><a href="/configuration/product/edit/{{ product.id }}">Edit</a> | Delete</td>
    </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}