{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Project List</a></li>
</ol>
<h1 class="sub-header">Projects</h1>
<a href="/projects/add">Add Project</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Project Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Active Work Orders</th>
            <th>Last Activity Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr>
            <td><a href="/customer/details/{{ project.customer.id }}">{{ project.customer.name }}</a></td>
            <td><a href="/project/details/{{ project.id }}">{{ project.name }}</a></td>
            <td>{{ project.description }}</td>
            <td>{{ project.type }}</td>
            <td>{{ project.activeWorkOrders }}</td>
            <td>{{ project.lastAccess|date("m/d/Y h:i A") }}</td>
            <td>{{ project.status }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {#<div class="center-block">
        <ul class="pagination text-center">
            <li class="disabled"><span>&laquo;</span></li>
            <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>#}
</div>
{% endblock %}