{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
    {{ include('DeployNetBundle::includes/location.header.html.twig', {'custer': customer, 'location': location, 'page': 'details'}) }}

<h2>Site Information<a href="/customer/location/{{ location.id }}/edit" class="btn btn-default btn-sm pull-right" role="button">Edit Details</a></h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Site Name: </th>
            <td>{{ location.name }}</td>
        </tr>
        <tr>
            <th>Site ID: </th>
            <td>{{ location.siteId }}</td>
        </tr>
        <tr>
            <th>Primary Contact: </th>
            <td></td>
        </tr>
    </table></div>
<h2>Address</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Address: </th>
            <td>
                <address>
                    {{ location.address1 }}<br />
                    {{ location.address2 }}<br />
                    {{ location.address3 }}<br />
                    {{ location.city}}, {{ location.state.abbreviation }} {{ location.postalCode }}
                </address>
            </td>
        </tr>
        <tr>
            <th>Phone: </th>
            <td>{{ location.phoneNumber }}<!--(000) 000-0000--></td>
        </tr>
        <tr>
            <th>Fax: </th>
            <td>{{ location.faxNumber }}<!--(000) 000-0000--></td>
        </tr>
    </table>
</div>
{% endblock %}