{% extends 'DeployNetBundle::layout.html.twig' %}
{% block content %}
    {{ include('DeployNetBundle::includes/location.header.html.twig', {'custer': customer, 'location': location, 'page': 'projects'}) }}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Project Name</th>
            <th>Status</th>
            <th>Project Type</th>
            <th>Active Work Orders</th>
            <th>Project Manager</th>
            <th>Date Created</th>
            <th>Last Activity Date</th>
        </tr>
        </thead>
        <tbody>
        {% for project in location.projects %}
            <tr>
                <td><a href="/projects/details/{{ project.id }}">{{ project.name }}</a></td>
                <td>{{ project.status }}</td>
                <td>{{ project.type }}</td>
                <td>{{ project.activeWorkOrders }}</td>
                <td>John Doe</td>
                <td>--/--/---- --:-- AM</td>
                <td>--/--/---- --:-- AM</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="center-block">
        <ul class="pagination text-center">
            <li class="disabled"><span>&laquo;</span></li>
            <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
{% endblock %}